* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;    
    height: 100vh;
    background-color: #E8E8E8;
}

.acordeon {
    display: flex;
    height: 60vh;
    width: 15vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    gap: 10px;
    box-shadow: 0 8px 12px red;
    background-color: #E8E8E8;
}

.cajaindice, .indice {
    border-radius: 10px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    padding: 10px;
    background-color: #E8E8E8;
}

.indice__informacion {
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
}